<?xml version="1.0" encoding="utf-8" ?>
<configuration
	SendEmail="true"
	MailFrom="Event Monitor &lt;event-alert@domain.com&gt;"
	MailTo="recipient1@domain.com,recipient2@domain.com"
	MailSubject="Event Alert!!!"
	MailServer="SMTPSERVER"
	LogDepth="100"
	RunInterval="1"
	LogName="Application"
	EventsList="application.txt"
	Computers="COMPUTER1,COMPUTER2"
/>